@model List<Social>
@{
    ViewData["Title"] = "Index";
}

<main id="main" class="main">
    <div class="container mt-5">
        <h2 class="text-center">Social</h2>
        <div class="create-operations ">
            <a asp-action="Create" class="btn btn-success text-white  mt-2"><i class="fa-solid fa-plus"></i></a>
        </div>
        <table class="table table-danger">
            <thead>
                <tr>

                    <th scope="col" style="background-color:white;color:black">Name</th>                   
                    <th scope="col" style="background-color:white;color:black">Operations</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="category-data">

                        <td>
                            @item.Name
                        </td>


                        <td>
                           
                            <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">

                                <button type="submit" class="btn btn-danger text-white small">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }


            </tbody>
        </table>



    </div>
</main>

